@import "@fontsource/orbitron";
@import "@fontsource/inter";
@import "@fontsource/funnel-display";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";


@import "tailwindcss";



:root {
  --background: #18181b; /* dark gray */
  --foreground: #f4f4f5; /* light gray */
  --primary: #1fb6ff;    /* electric blue */
  --primary-dark: #009ee0;
  --accent: #39ff14;     /* neon green */
  --accent-orange: #ff9900;
  --secondary: #3f3f46;  /* soft gray */
}


html, body {
  font-family: 'Funnel Display', sans-serif !important;
}

body {
  background: var(--background);
  color: var(--foreground);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b;
    --foreground: #f4f4f5;
    --primary: #1fb6ff;
    --primary-dark: #009ee0;
    --accent: #39ff14;
    --accent-orange: #ff9900;
    --secondary: #3f3f46;
  }
}

